/* BOILERPLATE */
:root {
    --soft-red: #FE7261;
    --yellow: #FED500;
    --light-blue: #3CBFFF;
    --dark-cyan: #2D7265;
    --cyan: #8FD4C5;
    --white: #FFFFFF;
    --black: #000000;
    --gray: #797784;
}
body {
    margin: 0;
    min-height: 100vh;
    color: var(--black);
    background-color: var(--light-blue);
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    border-bottom: 2px solid var(--mint);
    padding: 0 0 10px 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2.2px;
    font-family: inherit;
    transition: all .2s ease-in-out;
}
h1, h2, h3, p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/* COMPONENTS */
app-home, app-hero {
    display: block;
}
app-main-slides {
    display: grid; /* So pictures can be 100% height */
}
app-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
app-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: var(--white);
}
app-testimonials {
    display: block;
    padding: 50px 30px 90px 30px;
    background-color: var(--white);
}
app-bottom-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
app-footer {
    display: grid;
    place-content: center;
    background-color: var(--cyan);
    color: var(--dark-cyan);
    padding: 50px;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media (min-width: 768px) {
    app-main-slides {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    app-main-slides > div:first-child {
        order: 1;
    }
    app-main-slides > div:nth-child(2) {
        order: 0;
    }
    app-main-slides > div:nth-child(3), app-main-slides > div:nth-child(4), app-main-slides > div:nth-child(5), app-main-slides > div:nth-child(6) {
        order: 2;
    }
    app-testimonials {
        padding: 100px 250px;
    }
    app-bottom-images {
        display: flex;
    }
}

@media (min-width: 1281px) {
    app-testimonials {
        padding: 100px 200px;
    }
}

/* GLOBAL HOVER STYLES */
@media (hover: hover) {
    .icon:hover {
        color: var(--white);
        transition: all .1s ease-in-out;
    }
}